.citySearch {
    cursor: pointer;
}
.card-body * {
    font-weight: bold;
}
[data-hide="hidden"] {
    visibility: hidden;
}
[data-hide="visible"] {
    visibility: visible;
}
#google {
    cursor: pointer;
}
u {
    cursor: pointer;
}